/* background: #1FBBA6; */
.pos .serial-list-contents .flex-container1 .lot-uom-select{
    border-radius: 6px;
    padding: 3px;
    margin-top:-4px;
    font-size:16px;
    text-align:center;
    background-color: white;
    margin-top: 11px;
}

.pos .PackLotContent .table_head {
    background: #1FBBA6 !important;
}

.pos .PackLotContent .serial-list-contents .flex-container1:nth-child(odd) {
    background: #ffffff;
}

.pos .serial-list-contents .flex-container1.active{
    background: #6EC89B !important;
}

.pos .PackLotContent .serial-list-contents .flex-container1 {
    border-top: dashed 1px rgb(215,215,215);
}

.ActionLineButton{
    background: #1FBBA6;
    color: white;
    width: 50%;
    border-radius: 7px;
    display: inline-block;
    margin: 0 auto;
    font-size: medium;
}

.lot_page_number{
    background: #1FBBA6 !important;
    color: white;
    width: 35px !important;
}

.page_btn_lot{
    width: 30px;
    border: solid 1px rgb(215,215,215);
    border-radius: 7px;
}

.screen-content .search-icon {
    top: 7px !important;
}